:host {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}

.overlay-swicther__item {
    background: #333;
    color: white;
    padding: 5px;
}

.overlay-swicther__item_active {
    background: #222;
}