doctype transitional
html(ng-app="POTLModule")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title
            | Mind
        script(src="/scripts/angular.min.js")
        script(src="main.js")
        <link rel="stylesheet" type="text/css" href="css/potl.css">

        block head
        
    body
        structure(location="{x:100,y:300}")
        structure(location="{x:500,y:300}")
        structure(location="{x:900,y:600}")