doctype transitional
html(ng-app="POTLModule")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title
            | POTL
        script(src="/scripts/angular.min.js")
        script(src="main.js")
        <link rel="stylesheet" type="text/css" href="css/potl.css">

        block head
        
    body.world
        structure(location="{x:50,y:300}", id="1")
        structure(location="{x:400,y:300}", id="2")
        structure(location="{x:700,y:500}", id="3")