:host {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.tools__item {
    position: relative;
    padding: 5px 10px;
    background: #222;

}

.tools__item:hover .tools__subitems {
    display: flex;
}

.tools__subitems {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.tools__item_sub {
    cursor: pointer;
}

.tools__item_sub:hover {
    background: #333;
}